<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/" module="Home" action="index" />
  <route url="/Accueil" module="Home" action="index" />
  <route url="/Tous-les-chapitres([0-9][A-Z][a-z]+)\.html" module="Home" action="showAll" />
  <route url="/chapitre-([0-9]+)\.html" module="Home" action="show" vars="id"/>
  <route url="/commenter-([0-9]+)\.html" module="Home" action="insertComment" vars="chapters" />
  <route url="/APropos" module="Home" action="about" />
  <route url="/signaler-commentaire-([0-9]+)\.html" module="Home" action="reported" vars="id" />
  <route url="/supprimer-commentaire-([0-9]+)\.html" module="Home" action="deleteComment" vars="id" />
</routes>