/* $color-cream: #f8f8f8;
$color-lightGrey:#dddfdf;
$color-text:#383838;
$color-lightblue:#a9c7d7;
$color-blue: #6c98b0; */

.container{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
  
.row {
    margin-right: -15px;
    margin-left: -15px;
}

/*----BODY----*/

body{
    background-color: #f8f8f8 !important;
    font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
    color: #383838 !important;
}

p{
    margin-bottom: 0.5rem !important;
}

h1, h2, h3, h4{
    font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3em !important;
}

h2{
    color: #6c98b0;
    margin-top: 1rem !important;
}

h3{
    font-size: 2em !important;
    margin-bottom: 1.5rem !important;
}

button{
    background-color: #6c98b0 !important;
    border-color: #6c98b0 !important;
    font-family: 'Advent Pro', Arial, Helvetica, sans-serif !important;
    font-size: 1.25em !important;
    box-shadow: 2px 2px 8px #aaa !important;
}

a{
    color: #6c98b0 !important;
}

.bold{
    font-weight: 700;
}

.date{
    font-size: 0.85em;
    margin-top: 0.5rem;
}

/*----NAVIGATION----*/

#logo{
    height: 50px; 
}

nav{
    padding-right: 20% !important;
    padding-left: 20% !important;
    background-color: #f8f8f8 !important;
}

/*----HEADER----*/

#title{
    background-image: url("../images/Montain.png");
    background-position: center;
    background-size: cover;
    height: 66vh;
    text-align: center;
    padding: 50px;
}

#subtitle{
    font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

/*----FOOTER----*/

footer{
    background-color: #a9c7d7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reseaux{
    height: 75%;
}

.listing-footer{
 text-align: center;
}

#copyright{
    text-align: center;
    color: #f8f8f8;
    margin-bottom: 0;

}

/*----LAST CHAPTER----*/

#display-last-chapter{
    background-color: lightgray;
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
}

#last-chapter-numbre{
    font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
    font-size: 1.75em;
}

/*----OLD CHAPTER----*/

.old-chapter-picture{
    max-height: 250px;
    width: 100%;
}

.old-chapter{
    border-bottom: 1px solid #dddfdf;
    margin-bottom: 15px;
}

.more-chapters{
    margin-bottom: 20px;
    text-align: center;
}

/*----CHAPTER----*/
.date-chapter{
    margin-top: 0;
}

.chapter-picture{
    background-color: lightgray;
    background-position: center;
    background-size: cover;
    max-height: 300px;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
}

/*----COMMENT----*/

