.container{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/*----BODY----*/

body{
    background-color: #f8f8f8 !important;
    font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
    color: #383838 !important;
}

p{
    margin-bottom: 0.5rem !important;
    text-align: justify;
}

h1, h2, h3, h4{
    font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3em !important;
}

h2{
    color: #6c98b0;
    margin-top: 1rem !important;
}

h3{
    font-size: 2em !important;
    margin-bottom: 1.5rem !important;
}

.btn{
    background-color: #6c98b0 !important;
    border-color: #6c98b0 !important;
    font-family: 'Advent Pro', Arial, Helvetica, sans-serif !important;
    font-size: 1.25em !important;
    box-shadow: 2px 2px 8px #aaa !important;
}

a{
    color: #6c98b0;
}

.bold{
    font-weight: 700;
}

.date{
    font-size: 0.85em;
    margin-top: 0.5rem;
}

/*----NAVIGATION----*/

#logo{
    height: 50px;
}

nav{
    padding-right: 20% !important;
    padding-left: 20% !important;
    background-color: #f8f8f8 !important;
}

/*----PAGINATION----*/

.page-item.active .page-link
{
    background-color: #6c98b0;
    border-color: #6c98b0;
}

.page-link
{
    color: #6c98b0;
}

/*----HEADER----*/

#title{
    background-image: url("../images/Montain.png");
    background-position: center;
    background-size: cover;
    height: 66vh;
    text-align: center;
    padding: 50px;
}

#subtitle{
    font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
}

/*----FOOTER----*/

footer{
    background-color: #a9c7d7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
}

.reseaux{
    height: 75%;
}

.listingFooter{
 text-align: center;
}

#copyright{
    text-align: center;
    color: #f8f8f8;
    margin-bottom: 0;

}

/*----LAST CHAPTER----*/

#displayLastChapter{
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
}

#lastChapterNumber{
    font-family: 'Advent Pro', Arial, Helvetica, sans-serif;
    font-size: 1.75em;
}

/*----OLD CHAPTER----*/

.oldChapterPicture{
    max-height: 250px;
    width: 100%;
}

.oldChapter{
    border-bottom: 1px solid #dddfdf;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.moreChapters{
    margin-bottom: 20px;
    text-align: center;
}

/*----CHAPTER----*/

.chapterPicture{
    width: 100%;
  margin-bottom: 25px;
}

/*----COMMENT----*/

.comment{
    border-bottom: 1px solid #dddfdf;
    margin-bottom: 15px;
}

.reportBloc{
    text-align: right;
}

.report{
    color: #bd4b4b !important;
}

/*----ABOUT----*/

.profilPicture{
    width: 100%;
    border: 4px solid #dddfdf;
    border-radius: 100%;
    box-shadow: 2px 2px 8px #aaa;
    margin-bottom: 25px;
}

/*----LOGIN----*/

#logIn{
    height: 100vh;
    display: flex;
    align-items: center;
}

#titleAdmin{
    text-align: center;
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
}

#passwordForget{
    margin-top: 20px;
}

/*----HOME ADMIN----*/

.groupAdmin{
    background-color: white !important;
    border: 3px solid #dddfdf;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 8px #aaa;
    padding-bottom: 10px;
}

.titleGroup{
    margin-top: 10px !important;
    text-align: center;
}

.separation{
    border-bottom: 1px solid #dddfdf;
    margin-bottom: 10px;
}

.message{
    text-align: center;
}

#buttonCreatChapter{
    text-align: center
}

.reported{
    background-color: #ffefef;
    border: 2px solid #bd4b4b;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/*----COMMENTS REPORTED ADMIN----*/

#gifFinished{
    text-align: center;
    margin-bottom: 10px;
}

/*----FORM ADMIN----*/

.custom-file-label{
    margin-bottom: 10px;
}
